<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proiect TW</title>
        <link href="css-part.css" rel="stylesheet" type="text/css" />
        <link href="css-part2.css" rel="stylesheet" type="text/css" />
        <script src="script-1.js"></script>
    </head>
    <body>
        
        <header>
            <input type="checkbox">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>    
            <nav>
                <ul class="meniu">
                    <li><a href="index.html">Acasa</a></li>
                    <li><a href="index2.html" target="_blank">Medici</a></li>
                    <li><a href="index3.html" target="_blank">Specialitati</a>
                            <ul class="submeniu">
                                <li><a href="index3.html#cardiologie" target="_blank">Cardiologie</a></li>
                                <li><a href="index3.html#chirurgie" target="_blank">Chirurgie</a></li>
                                <li><a href="index3.html#endocrinologie" target="_blank">Endocrinologie</a></li>
                                <li><a href="index3.html#hematologie" target="_blank">Hematologie</a></li>
                                <li><a href="index3.html#neurologie" target="_blank">Neurologie</a></li>
                                <li><a href="index3.html#oftalmologie" target="_blank">Oftalmologie</a></li>
                                <li><a href="index3.html#psihologie" target="_blank">Psihologie</a></li>
                                <li><a href="index3.html#radiologie" target="_blank">Radiologie</a></li>
                             
                            </ul></li>
                    <li><a href="#preturi">Preturi</a>
                        <ul class="submeniu">
                            <li><a href="#analize">Analize</a></li>
                            <li><a href="#imagistica">Imagistica</a></li>
                        </ul>
                    </li>
                    <li><a href="#program">Program</a></li>	
                    <li><a href="#contact">Contact</a>
                        <ul class="submeniu">
                            <li><a href="#telefon">Telefon</a></li>
                            <li><a href="#email">E-mail</a></li>
                            <li><a href="#locatie">Locatie</a></li>
                        </ul>
                    </li>	
                    <li><a href="#galerie">Galerie</a></li>
                    <li><a href="formular.html">Programare</a></li>
                    <li><a href="login">Autentificare</a></li>
                 </ul>
            </nav>
            <img src="image12.jpg" alt = "Imagine indisponibila">
            <h1><span id="titlu">Policlinica Privata</span><a href="index.html"><img id="logo" src="image3.png" alt="imagine logo"></a></h1>
        </header>
        <main>
            <section id="despre">
                <h2>Despre noi</h2>
                <img src="image4.jpg" alt = "Imagine indisponibila">
                <p> Suntem o echipă de profesioniști devotati, mereu entuziaști, serioși și onesti cu pacienții noștri. Pentru noi medicina continuă să fie o artă. Punem în slujba sănătății dumneavoastră toată 
                    știința medicală acumulată de fiecare dintre noi la cursuri și specializări permanente.<br>
                    Ne recomandă experiența îndelungată a specialiștilor, formația didactică a multora dintre 
                    ei, medicii tineri, bine pregătiți și dornici de afirmare dar și aparatura modernă, performantă.
                    Am avut în vedere în primul rând calitatea actului medical, siguranța și confortul pacientului, acesta putând beneficia de 
                    consultații și investigații complete la toate specialitațile medicale, într-un singur loc.<br>
                    Vă stăm la dispoziție pentru a vă asigura informațiile
                    medicale de care aveți nevoie și pentru a crește calitatea vieții dumneavoastră.
                </p>
      
            </section>
            <section id="preturi">
                <hr>
                    
                <h2>Prețuri</h2>
                <div id="analize">
                    <div class="grid-item-title">Gama de analize</div>
                    <div class="grid-item">Colesterol total</div>
                    <div class="grid-item">18 lei</div>
                    <div class="grid-item">Trigliceride</div>
                    <div class="grid-item">19 lei</div>
                    <div class="grid-item">Fosfada acida totala</div>
                    <div class="grid-item">59 lei</div>
                    <div class="grid-item">Succinil acetona in urina (SUCACU)</div>
                    <div class="grid-item">451 lei</div>
                    <div class="grid-item">Cortisol seric</div>
                    <div class="grid-item">100 lei</div>
                    <div class="grid-item">Lipaza(LIPA)</div>
                    <div class="grid-item">22 lei</div>
                    <div class="grid-item">Potasiu urinar</div>
                    <div class="grid-item">25 lei</div>
                </div>
                <div id="imagistica">
                    <div class="grid-item-title2">Investigatii imagistica</div>
                    <div class="grid-item2">Ecografie</div>
                    <div class="grid-item2">150 lei</div>
                    <div class="grid-item2">Mamografie</div>
                    <div class="grid-item2">325-655 lei</div>
                    <div class="grid-item2">Osteodensitometrie</div>
                    <div class="grid-item2">150 lei</div>
                    <div class="grid-item2">Punctie osoasa sub ghidaj CT</div>
                    <div class="grid-item2">3045 lei</div>
                    <div class="grid-item2">Radiologie digitala</div>
                    <div class="grid-item2">150-1350 lei</div>
                    <div class="grid-item2">Rezonanta magnetica</div>
                    <div class="grid-item2">680-1950 lei</div>
                    <div class="grid-item2">Tomografie computerizata</div>
                    <div class="grid-item2">350-3300 lei</div>
                </div>
                <div id="form">
                <form id="formular">

                    <label>Introdu buget(lei): <input id="input1" type="text" value='0'></label>
                    
                </form>
                <button id="trimite">Trimite</button>
                <button id="retrimite">Retrimite buget</button>
                </div>
            </section>
            <hr>
            <div id="program">
                <div class="grid-item-title3"><b>Program de lucru zilnic</b></div>
                <div class="grid-item3">Luni</div>
                <div class="grid-item3">8:00-18:00</div>
                <div class="grid-item3">Marti</div>
                <div class="grid-item3">10:00-18:00</div>
                <div class="grid-item3">Miercuri</div>
                <div class="grid-item3">8:00-18:00</div>
                <div class="grid-item3">Joi</div>
                <div class="grid-item3">10:00-16:00</div>
                <div class="grid-item3">Vineri</div>
                <div class="grid-item3">9:00-18:00</div>
                <div class="grid-item3">Sambata</div>
                <div class="grid-item3">10:00-13:00</div>
                <div class="grid-item3">Duminica</div>
                <div class="grid-item3">Inchis</div>
            </div>
            <hr>
            <section id="contact">
                <div class="grid-item-title4">
                    <b>Contact</b>
                </div>
                <div id="telefon">
                    <span>Fix: 0351 415 401<br>Mobil: 0734 789 645</span>
                </div>
                <div id="locatie">
                    <span>Adresa: Bulevardul Iuliu Maniu 51, București</span>
                </div>
                <div id="email">
                    <span>E-mail: office@policlinica.ro</span>
                </div>
                <div id="link_locatie">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.9754979162467!2d26.032662564237356!3d44.43366482240913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201b6fcad3f7b%3A0xb8b05e7961b4803f!2sBloc%20B22%2C%20Bulevardul%20Iuliu%20Maniu%2051%2C%20Bucure%C8%99ti%20061344!5e0!3m2!1sen!2sro!4v1621784980655!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </section>
            <hr>
            <section id="galerie">
                    <h2>Galerie</h2>
                    <div id="container-galerie">
                    <div id="animata">
                   <figure>
                     <img src="animata1.jpg" alt="Imagine indisponibila">  
                   </figure>
                   <figure>
                     <img src="animata2.jpg" alt="Imagine indisponibila">
                   </figure>
                   <figure>
                     <img src="animata3.jpg" alt="Imagine indisponibila">
                   </figure>
                   <figure>
                     <img src="animata4.jpg" alt="Imagine indisponibila">
                   </figure>
                   <figure>
                     <img src="animata5.jpg" alt="Imagine indisponibila">
                   </figure>
                   <figure>
                     <img src="animata6.jpg" alt="Imagine indisponibila">
                   </figure>
                   <figure>
                    <img src="animata7.jpg" alt="Imagine indisponibila">
                  </figure>
                  </div>
                 </div>
            </section>
        </main>
        <footer>
            <section id="contact-footer">
                <div class="grid-item">
                    <b>Informatii importante</b>
                </div>
                <div id="telefon1">
                    <span>Fix: 0351 415 401<br>Mobil: 0734 789 645</span>
                </div>
                <div id="locatie1">
                    <span>Adresa: Bulevardul Iuliu Maniu 51, București</span>
                </div>
                <div id="email1">
                    <span>E-mail: office@policlinica.ro</span>
                </div>
            </section>
        </footer>
    </body>
</html>